@font-face {
  font-family: "Poppins-regular";
  src: url("./assets/Font/Poppins-Regular.ttf");
}
@font-face {
  font-family: "Poppins-bold";
  src: url("./assets/Font/Poppins-Bold.ttf");
}

* {
  font-family: "Poppins-regular";
}
body{
    background-color: #313131;
}
// .offcanvas {
//   background: black;
//   color: white;
// }
.BtnSide{
    background-color: transparent;
    border: none;
    svg{
        font-size: 30px;
    }
}
.offcanvas-body{
    padding: 0;
}
.btn-close{
    outline: none;
    box-shadow: none
}
.dateFilter{
    width: fit-content !important;
  padding: 10px 15px !important;
  height: 38px;
  margin-left: 10px;
  .date{
    font-size: 13px;
  }
}
.searchNew{
    width: 218px;
  padding: 10px 38px;
  border-radius: 25px;
  border: none;
  background: #e8e8e8;
  outline: none;
}
.dashboardAll {
  .pSide {
    // background: black;
    background: url("./assets/images/v870-tang-36.jpg") no-repeat;
    background-size: cover;
    color: rgb(0, 0, 0);
    height: 100%;
    padding: 40px 30px;
    position: fixed;
    width: inherit;
    
    @media(max-width: 1300px){
        padding: 20px 10px;
    }
    @media(max-width: 992px){
        position: unset;
    }
    
    .Logo {
      h5 {
        font-weight: 800;
      }
    }
    .borderBtm{
        border-bottom: 2px solid #313131;
    }
    ul {
      li {
        margin: 25px 0;
        padding: 6px 10px;
        svg {
          margin-right: 12px;
        }
      }
    }
  }
  ul {
    margin: 0;
    padding: 0;
    li {
      list-style: none;
    }
  }
  .header {
    padding: 30px 40px;
    box-shadow: rgb(219, 240, 236) 0px 1px 10px;
    background: #ffff;

    .hideLg{
        display: none !important;

        @media(max-width: 992px){
            display: block !important;
        }
    }
    @media(max-width: 575px){
        padding: 20px 5px;
        .lSec{
            h4{
                font-size: 16px;
                margin: 0;
            }
        }
        .name{
            font-size: 13px;
        }
    }
    .lSec {
      h4 {
        font-weight: 800;
      }
    }
    .hideLg{
        display: none;
        @media(max-width: 992px){
            display: block;
        }
    }
  }
  .detailPart {
    padding: 40px 25px;
    background: #313131;
    .listP {
      background-color: #ffff;
      padding: 20px 30px;
      border-radius: 25px;

      input {
        width: 218px;
        padding: 10px 38px;
        border-radius: 25px;
        border: none;
        background: #e8e8e8;
        outline: none;

        @media(max-width: 1300px){
            width: 156px;
        }
      }
      ul{
        li{
            padding: 10px 20px;
            border-radius: 12px;
            border: none;
            background: #dbf0ec;
            margin-top: 15px;
            cursor: pointer;
        }
      }
    }
    .SelecP{
        ul{
            li{
                background: #76d5cb !important;
            }
        }
    }
    @media(max-width: 1300px){
      padding: 20px 15px;
      .listP{
          padding: 10px;
          ul{
            li{
                margin-top: 10px;
            }
          }
      }
    }
    @media(max-width: 768px){
        .listP{
            margin: 15px 0;
        }
    }
  }
}
.SearchInput{
    position: relative;
    .srIcn{
        position: absolute;
        left: 14px;
        top: 10px;
        svg{
            font-size: 20px;
        }
    }
}
.active{
    background-color: #29bbac !important;
    color: #fff;
}
.sideActive{
    border: 1px solid #000;
    border-radius: 21px;
    background: #313131;
    color: white; 
}

// Responsive CSS 
@media(max-width: 992px){
    .dashboardAll{
        .TabHide{
            // width: auto !important;
            // position: absolute !important;
            // left: -230px;
            // transition: all .5s;
            display: none;
        }
    }
}
.offcanva{
    .pSide{
        position: unset !important;
    }
}